[submodule "src/tracer_ros"]
	path = src/tracer_ros
	url = https://github.com/SocialTech-Challenge/tracer_ros
[submodule "src/ugv_sdk"]
	path = src/ugv_sdk
	url = https://github.com/SocialTech-Challenge/ugv_sdk
[submodule "src/SocialTech-Gazebo"]
	path = src/SocialTech-Gazebo
	url = https://github.com/SocialTech-Challenge/SocialTech-Gazebo
